#include <behaviors.dtsi>
#include "keys_de.h"
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer aliases.

#define DEFAULT 0
#define NUMBERS 1
#define SECOND 2
#define THIRD 3
#define FOURTH 4

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |    ?                                ?    |    Z    |    U    |    I    |    O    |    P    |    Ü    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |    ?                                ?    |    H    |    J    |    K    |    L    |    Ö    |    Ä    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  RETURN |
            // |    L0   | CONTROL | OPTION  | COMMAND |                    |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |

            bindings = <
&kp ESC     &kp Q      &kp W         &kp E     &kp R  &kp T      &kp HOME   &kp END    &kp Z      &kp U  &kp I           &kp O         &kp P            &kp DE_U_UMLAUT
&kp TAB     &kp A      &kp S         &kp D     &kp F  &kp G      &kp DEL    &kp BSPC   &kp H      &kp J  &kp K           &kp L         &kp DE_O_UMLAUT  &kp DE_A_UMLAUT
&kp LSHIFT  &kp Y      &kp X         &kp C     &kp V  &kp B      &kp LG(C)  &kp LG(V)  &kp N      &kp M  &kp COMMA       &kp DOT       &kp DE_MINUS     &kp RETURN
&none       &kp LCTRL  &kp LEFT_ALT  &kp LGUI  &none  &kp SPACE                        &kp SPACE  &mo 1  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW
            >;

            // sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        numbers_layer {
            display-name = "Numbers";
            bindings = <
                &trans  &bt BT_CLR  &bt BT_NXT  &bt BT_CLR_ALL  &bootloader  &trans  &trans  &trans  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp KP_DIVIDE
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp KP_MULTIPLY
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DE_N1  &kp DE_N2  &kp DE_N3  &kp RETURN
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp DE_N0  &kp DE_DOT  &kp KP_SUBTRACT  &kp KP_PLUS
            >;
        };

        /*
        FIRST {

        };

        SECOND {

        };

        THIRD {

        };

        FOURTH {

        };*/
    };
};
