name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      # Your ZMK config lives in the "config" folder in your repo
      config_path: config

      # Your build matrix file (the YAML that lists boards/shields/etc.)
      # Keep this file in the repo root (or adjust the path)
      build_matrix_path: build.yaml
